.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
  padding: 20px;
  font-size: 1rem;
  background-color: #272727;
  min-height: 100vh;
}
.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  justify-content: center;
  background: transparent;
  padding: 2rem 1rem;
  background-image: linear-gradient(90deg, white, white),
    linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 40px solid transparent;
  border-radius: 5rem;
}
.about-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border-bottom: solid 3px hsl(289, 65%, 64%);
}
.thank-you-about {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
