.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-image: linear-gradient(
    to right,
    hsl(289, 65%, 64%),
    hsl(226, 78%, 67%)
  );
  padding-bottom: 15px;
}

.divider-footer {
  height: 70px;
  background-image: linear-gradient(to bottom, gray, black);
  margin: 0;
  width: 100%;
}
