.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    hsl(226, 78%, 67%),
    hsl(289, 65%, 64%)
  );
  /* background-image: linear-gradient(90deg, white, white),
    linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%)); */
}

.app-title {
  margin-left: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(289, 65%, 64%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-bottom: 0;
  font-weight: bold;
  color: hsl(226, 78%, 67%);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar a,
.navbar a:visited,
.navbar a:active {
  color: hsl(226, 78%, 67%);
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar a:hover {
  color: black;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}
